/* utilities */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*======= reset some basic elements =======*/
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dd, ul, ol, figure {
  margin: 0;
  padding: 0;
}



.OutterBox {
  position: relative;
  margin: 0 auto;
  width: 600px;
  height: 600px;
  border: 1px solid black;
}

.Box1, .Box2, .Box3, .Box4 {
  height: 50%;
  width: 50%;
  position: absolute;
  border: 1px solid green;
}

/*.Box1 {
  top: 0%;
  left: 0%;
}*/

.Box2 {
  bottom: 0%;
  left: 0%;
}

.Box3 {
  top: 0%;
  right: 0%;
}

.Box4 {
  bottom: 0%;
  right: 0%;
}
