/* utilities */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*======= reset some basic elements =======*/
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, di, dd, ul, ol, figure {
  margin: 0;
  padding: 0;
}

/*======= Body =======*/
div {
  border: 6px solid #949599;
  /*margin: 20px;*/
  /*padding: 20px;*/
  /*height: 100px;*/
  /*width: 50%*/;
}

.OutterBox {
  position: relative;
  width: 90%;
  height: 90%;
}

.Box1 {
  position: relative;
  top: 0%;
  left: 0%;
  height:50%;
  width: 50%;
  background-color: white;
}

.Box2 {
  position: relative;
  bottom: 0%;
  left: 0%;
  height:50%;
  width: 50%;
  background-color: white;
}

.Box3 {
  position: absolute;
  top: 0%;
  right: 0%;
  height:50%;
  width: 50%;
  background-color: white;
}

.Box4 {
  position: absolute;
  bottom: 0%;
  right: 0%;
  height: 50%;
  width: 50%;
  background-color: white;
}
